---
layout: index
---
{% for post in site.posts %}
  {% if post.layout == "toppost" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
<div class="line"></div>

{% for post in site.posts %}
  {% if post.layout == "addon" and post.status_color == "green" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
<div class="line"></div>
{% for post in site.posts %}
  {% if post.layout == "addon" and post.status_color == "yellow" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
<div class="line"></div>
{% for post in site.posts %}
  {% if post.layout == "addon" and post.status_color == "red" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
