---
layout: index
---
<article id="python3" class="clear">
  <h2>Python 3</h2>
  <h4>Notes on the comming Anki version</h4>

  <div class="line"></div>
  <div class="status">Status:
    <span class=status_light
    style="background-color: red;
    color:white; ">Anki 2.1 α keeps crashing</span></div>
  <div class="line"></div>
  <div class="articleBody clear">
    <p>While i generally welcome the coming Anki version that uses Python
    3 and Qt 5, these add-ons aren’t yet ready for it.</p>
    <p>The thing is that the Anki α version is terribly unstable on my
    Linux machine, crashing usually seconds after i start it. Like
    this there is no way i can carefully test Python 3 versions of
    these add-ons. I suspect the PyQt version rather than Anki specifically, but that doesn’t change the fact that i can’t run the Anki α.</p>
    <p>There <em>is</em> a branch,
    <a href="https://github.com/ospalh/anki-addons/tree/develop-anki21"><code>develop-anki21</code></a>,
    where i have started the Python 2 → Python 3 conversion anyway. I
    started with the old play-button-on-card add-on. That <em>may</em> work,
    but, as i couldn’t test it, i have no idea.</p>
  </div>
</article>
<div class="line"></div>

{% for post in site.posts %}
  {% if post.status_color == "green" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
<div class="line"></div>
{% for post in site.posts %}
  {% if post.status_color == "yellow" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
<div class="line"></div>
{% for post in site.posts %}
  {% if post.status_color == "red" %}
    {% include abstract.html %}
  {% endif %}
{% endfor %}
