@charset "UTF-8";
/* -*- mode: CSS ; coding: utf-8 -*- */

.ui-tooltip {
  max-width: 500px;
}

.ui-tooltip figure {
  display: table;
}

.ui-tooltip figure object{
    display: inline-table;
}

.ui-tooltip figure figcaption{
    display: table-caption;
    caption-side: bottom ;
}