@charset "UTF-8";
/* -*- mode: CSS ; coding: utf-8 -*- */

.ui-tooltip{
  font-family: 'Demos LT';
  font-size: 15px;
  color: #657b83;
  background-color: #eee8d5;
}

.ui-tooltip .nhg {
    font-family: IPAPMincho;
}

.ui-tooltip .klbword:before {
  content: "KLB: ";
}

.ui-tooltip .klbword:after {
  content: ", ";
}

.ui-tooltip h3{
    font-weight: normal;
}

.ui-tooltip .klbnum {
  font-family: 'Demos X';
}
.ui-tooltip .klbnum:before {
  font-family: 'Demos LT';
  content: "Nummer ";
}