<article id="{{post.id}}">
    <figure class="abstract">
      <img src="{{ site.github.url }}/images/{{post.first_image}}" alt="{{post.first_alt}}" {%if post.first_image_attributes %}{{post.first_image_attributes|safe}}{% endif %}/>
    </figure>
  <h2><a href="{{ site.github.url }}{{ post.url | relative_url | remove_first: "/anki-addons" }}">{{ post.title}}</a></h2>

    {%if post.subtitle%}
    <h4>{{post.subtitle}}</h4>
    {%endif%}

  <div class="line"></div>
  <div class="status">Status:
    <span class=status_light
    style="background-color:{{post.status_color}};
    color:{{post.status_text_color}}; ">{{post.status}}</span></div>
  <div class="line"></div>
  <div class="articleBody clear">
    {{ post.abstract| safe }}
  </div>

</article>
