/*
  This is part of Kanji tips, which shows KanjiVG data as colored
  stroke order diagrams in a tool tip.

  This file defines the colors of the strokes and the numbers beside those strokes.

  This file copyright © 2012–13 Roland Sieker <ospalh@gmail.com>
  License: GNU AGPL, version 3 or later;
  http://www.gnu.org/licenses/agpl.html

*/

.stroke_path.stroke_num1 {stroke: #bf0909;}
.stroke_number.stroke_num1 {fill: #bf0909;}
.stroke_path.stroke_num2 {stroke: #bf6409;}
.stroke_number.stroke_num2 {fill: #bf6409;}
.stroke_path.stroke_num3 {stroke: #bfbf09;}
.stroke_number.stroke_num3 {fill: #bfbf09;}
.stroke_path.stroke_num4 {stroke: #09bf09;}
.stroke_number.stroke_num4 {fill: #09bf09;}
.stroke_path.stroke_num5 {stroke: #09bfbf;}
.stroke_number.stroke_num5 {fill: #09bfbf;}
.stroke_path.stroke_num6 {stroke: #0909bf;}
.stroke_number.stroke_num6 {fill: #0909bf;}
.stroke_path.stroke_num7 {stroke: #bf0964;}
.stroke_number.stroke_num7 {fill: #bf0964;}
.stroke_path.stroke_num8 {stroke: #ff8056;}
.stroke_number.stroke_num8 {fill: #ff8056;}
.stroke_path.stroke_num9 {stroke: #ffd456;}
.stroke_number.stroke_num9 {fill: #ffd456;}
.stroke_path.stroke_num10 {stroke: #d4ff56;}
.stroke_number.stroke_num10 {fill: #d4ff56;}
.stroke_path.stroke_num11 {stroke: #56ff80;}
.stroke_number.stroke_num11 {fill: #56ff80;}
.stroke_path.stroke_num12 {stroke: #56d4ff;}
.stroke_number.stroke_num12 {fill: #56d4ff;}
.stroke_path.stroke_num13 {stroke: #5680ff;}
.stroke_number.stroke_num13 {fill: #5680ff;}
.stroke_path.stroke_num14 {stroke: #8056ff;}
.stroke_number.stroke_num14 {fill: #8056ff;}
.stroke_path.stroke_num15 {stroke: #d456ff;}
.stroke_number.stroke_num15 {fill: #d456ff;}
.stroke_path.stroke_num16 {stroke: #ff56d4;}
.stroke_number.stroke_num16 {fill: #ff56d4;}
.stroke_path.stroke_num17 {stroke: #ff5680;}
.stroke_number.stroke_num17 {fill: #ff5680;}
.stroke_path.stroke_num18 {stroke: #7f3f3f;}
.stroke_number.stroke_num18 {fill: #7f3f3f;}
.stroke_path.stroke_num19 {stroke: #7f7f3f;}
.stroke_number.stroke_num19 {fill: #7f7f3f;}
.stroke_path.stroke_num20 {stroke: #3f7f3f;}
.stroke_number.stroke_num20 {fill: #3f7f3f;}
.stroke_path.stroke_num21 {stroke: #3f7f7f;}
.stroke_number.stroke_num21 {fill: #3f7f7f;}
.stroke_path.stroke_num22 {stroke: #3f3f7f;}
.stroke_number.stroke_num22 {fill: #3f3f7f;}
.stroke_path.stroke_num23 {stroke: #7f3f7f;}
.stroke_number.stroke_num23 {fill: #7f3f7f;}
.stroke_path.stroke_num24 {stroke: #bf0909;}
.stroke_number.stroke_num24 {fill: #bf0909;}
.stroke_path.stroke_num25 {stroke: #bf6409;}
.stroke_number.stroke_num25 {fill: #bf6409;}
.stroke_path.stroke_num26 {stroke: #bfbf09;}
.stroke_number.stroke_num26 {fill: #bfbf09;}
.stroke_path.stroke_num27 {stroke: #09bf09;}
.stroke_number.stroke_num27 {fill: #09bf09;}
.stroke_path.stroke_num28 {stroke: #09bfbf;}
.stroke_number.stroke_num28 {fill: #09bfbf;}
.stroke_path.stroke_num29 {stroke: #0964bf;}
.stroke_number.stroke_num29 {fill: #0964bf;}
.stroke_path.stroke_num30 {stroke: #0909bf;}
.stroke_number.stroke_num30 {fill: #0909bf;}
.stroke_path.stroke_num31 {stroke: #6409bf;}
.stroke_number.stroke_num31 {fill: #6409bf;}
.stroke_path.stroke_num32 {stroke: #bf09bf;}
.stroke_number.stroke_num32 {fill: #bf09bf;}
