{% for page in pages %}
<article id="{{page.id}}">
    <figure class="abstract">
      <img src="/anki-addons/images/{{page.first_image}}" alt="{{page.first_alt}}" {%if page.first_image_attributes%}{{page.first_image_attributes|safe}}{%endif%}/>
    </figure>
  <h2><a href="{{ url_for("page", path=page.path) }}">{{ page.title
  }}</a></h2>
    {%if page.subtitle%}
    <h4>{{page.subtitle}}</h4>
    {%endif%}

  <div class="line"></div>
  <div class="status">Status:
    <span class=status_light
    style="background-color:{{page.status_color}};
    color:{{page.status_text_color}}; ">{{page.status}}</span></div>
  <div class="line"></div>
  <div class="articleBody clear">
    {{ page.abstract| safe }}
  </div>

</article>

{% endfor %}
