{% extends "base.html" %}
<!-- Article 1 start -->


{% block content %}
<article id="[[page.id}}"> 

	<h2>{{ page.title }}</h2>

	<div class="line"></div>

	<div class="articleBody clear">

		<figure> <!-- The figure tag marks data (usually an image) that is part of the article -->
		  <img src="/images/{{page.first_image}}"
		       alt="{{page.first_alt}}" />
		</figure>

                {% block article%}
                {{ page.html| safe }}
                {% endblock article%}
	</div>

</article>

{% endblock content %}
