{% extends "base.html" %}
<!-- Article 1 start -->

{%block htmltitle%} – {{ page.title }}{%endblock htmltitle%}

{%block morelinks%}
<li><a href="https://github.com/ospalh/anki-addons/blob/master/{{page.main_file}}"
       class="code">Add-on source</a></li>
{% if page.ankiweb_id %}
<li><a href="http://beta.ankiweb.net/shared/info/{{page.ankiweb_id}}"
       class="code">AnkiWeb download</a></li>
{% endif %}
{% if page.download_file %}
<li><a href="https://github.com/downloads/ospalh/anki-addons/{{page.download_file}}"
       class="code">Package download</a></li>
{% endif %}
{%endblock morelinks%}


{%block title%}
    <h1>{{ page.title }}</h1>
    <h3>An Anki2 add-on</h3>
{%endblock title%}

{% block content %}
<article id="{{page.id}}"> 
	<div class="articleBody clear">

		<figure>
		  <img src="/images/{{page.first_image}}"
		       alt="{{page.first_alt}}" />
		</figure>

                {% block article%}
                {{ page.html| safe }}
                {% endblock article%}
	</div>

</article>
{% endblock content %}
