{% extends "base.html" %}

{% block content %}

<article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

	<h2>{{ page.title }}</h2>

	<div class="line"></div>

	<div class="articleBody clear">

		<figure>
		  <img src="/images/{{page.first_image}}"
		       max-width="620" max-height="340"
		       alt="{{page.first_alt}}" />
		</figure>

                {% block article%}
                {{ page.html| safe }}
                {% endblock article%}
	</div>

</article>

{% endblock content %}
