<!-- Article 1 start -->

<div class="line"></div>  <!-- Dividing line -->

<article id="article1"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

	<h2>Photoshoot Effect</h2>

	<div class="line"></div>

	<div class="articleBody clear">

		<figure> <!-- The figure tag marks data (usually an image) that is part of the article -->

			<a href="http://tutorialzine.com/2010/02/photo-shoot-css-jquery/">
				<img src="http://cdn.tutorialzine.com/img/featured/641.jpg" width="620" height="340" /></a>

		</figure>

		<p>In this tutorial, we are creating a photo shoot effect with our just-released PhotoShoot jQuery plug-in. With it you can convert a regular div on the page into a photo shooting stage simulating a camera-like feel.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis .... </p>

	</div>

</article>

