<!DOCTYPE html> <!-- The new doctype -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Ospalh’s Anki2 addons{%block htmltitle%}{%endblock htmltitle%}</title>

	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
	<!-- Internet Explorer HTML5 enabling script: -->
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">.clear {zoom: 1;display: block;}</style>
	<![endif]-->
</head>
<body>
  <section id="page">
    <header> 
      <h1>Ospalh’s addons</h1>
      <h3>Lots of Anki2 add-ons</h3>

		<nav class="clear"> <!-- The nav link semantically marks your main site navigation -->

			<ul>

				<li><a href="#article1">Photoshoot</a></li>
				<li><a href="#article2">Sweet Tabs</a></li>
				<li><a href="#article3">Navigation Menu</a></li>

			</ul>

		</nav>

	</header>

        {% block content %}
          <p>Default content to be displayed</p>
        {% endblock content %}


  <footer> <!-- Marking the footer section -->

    <div class="line"></div>

    <p>Copyright 2010 - YourSite.com</p> <!-- Change the copyright notice -->
    <a href="#" class="up">Go UP</a>
    <a href="http://tutorialzine.com/" class="by">Template by Tutorialzine</a>

  </footer>

        </section> <!-- Closing the #page section -->

<!-- JavaScript Includes -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/scripts/jquery.scrollTo-min.js"></script>
<script src="/scripts/script.js"></script>

</body>

</html>
