{% extends "base.html" %}
<!-- Article 1 start -->

{%block htmltitle%}{{ page.title }} – {%endblock htmltitle%}

{%block breadlinks%}
  <li><a href="/anki-addons/{{page.parent}}.html">{{page.parent}}</a></li>
{%endblock breadlinks%}


{%block morelinks%}
{% if page.ankiweb_id %}
            <li><a href="https://ankiweb.net/shared/info/{{page.ankiweb_id}}" class="code">AnkiWeb download</a></li>
{% endif %}
{% if page.source_file %}
            <li><a href="https://github.com/ospalh/anki-addons/blob/master/{{page.source_file}}" class="code">Source file</a></li>
{% endif %}
{%endblock morelinks%}


{%block title%}
    <h1>{{ page.title }}</h1>
    {%if page.subtitle%}
    <h3>{{page.subtitle}}</h3>
    {%else%}
    <h3>Details on {{page.parent}}</h3>
    {%endif%}
{%endblock title%}

{% block content %}
<article id="{{page.id}}" class="clear">
	<div class="articleBody">
                {% block article%}
                {{ page.html| safe }}
                {% endblock article%}
	</div>

</article>
{% endblock content %}
