{% include top.html %}
  <body>
    <section id="page">
      <header>
        <nav class="clear">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ site.github.url }}/">Anki add-ons</a></li>
            <li><a href="https://github.com/ospalh/anki-addons" class="code">GitHub project</a></li>
          </ul>
        </nav>
        <h1>anki-addons</h1>
        <h3>A collection of Anki2 addons in different states of bugginess and usefulness.</h3>
      </header>
  {{ content }}
{% include footer.html %}
